<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/booking_success.css' %}"> 
</head>
<body>
    <div class="container">
        <h1>Booking Successful!</h1>
        <p>Booking has been successfully submitted and is now under review. You will receive a confirmation email after verification.  </p>
        <p></p>
        <p>If you have any questions or need further assistance, please contact  us via the provided contact details.</p>
        <p>Enjoy your stay😊</p>

        <a href="{% url 'home' %}" class="btn btn-primary">Go to Homepage</a> 
    </div>

    
</body>
</html>
