<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Unistay</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <header class="main-header1">
        <div class="header-content1">
            <h1>Sign Up for Unistay!</h1>
            <p>Join us to find your ideal off-campus hostel near Maseno University.</p>
        </div>
    </header>

    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </div>
</body>
</html>

