{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
    
</head>
<body>
    <div class="container">
        <h1>Update Your Profile</h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile' %}">
            {% csrf_token %}
            {{ form.as_p }}  <!-- This renders the form fields -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </div>
</body>
</html>
